@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* RESET */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #111111;
}



/* GENERAL */
body {
    background-color: #F7F3E8;
    color: #111111;
    font-family: 'Roboto', sans-serif;
}



/* MENU */
nav.menu {
    max-width: 1600px;
    margin: auto;
    padding: 24px 0px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul.menu {
    display: flex;
    flex-direction: row;
    gap: 36px;
    list-style: none;
}

ul.menu li:hover {
    text-decoration: underline;
}

a.github {
    color: black;
    font-weight: 800;
}



/* PAGE */
section.about {
    max-width: 1200px;
    height: calc(100vh - 140px);
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

section.about > div.container {
    display: flex;
    flex-direction: row;
}

section.about > div.container > header {
    width: 40%;
}

section.about > div.container > div.content {
    width: 60%;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

section.about div.content > div.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

section.about div.content-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
}

section.about div.content-footer > div.text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section.about div.content-footer > div.address {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}

section.about h1 {
    font-size: 90px;
    font-weight: 900;
}

section.about div.content-footer p {
    color: #5c5c5c;
    font-size: 14px;
}