@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* RESET */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #111111;
}



/* GENERAL */
body {
    background-color: #F7F3E8;
    color: #111111;
    font-family: 'Roboto', sans-serif;
}



/* MENU */
header {
    max-width: 1841px;
}

nav.menu {
    width: 1600px;
    height: 135px;
    margin: auto;
    padding: 24px 0px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul.menu {
    display: flex;
    flex-direction: row;
    gap: 36px;
    list-style: none;
}

ul.menu li:hover {
    text-decoration: underline;
}

a.github {
    color: black;
    font-weight: 800;
}



/* MAIN */
main {
    display: flex;
    flex-direction: column;
}



/* HERO */
.hero {
    max-width: 1600px;
    height: calc(100vh - 135px);
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
}

.hero-content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.hero-icons {
    display: flex;
    flex-direction: row;
}

div.hero-icons a {
    padding: 60px 35px;
    border: 2px solid #111111;
    border-radius: 500px;

    text-align: center;
}

div.hero-icons a:hover {
    background-color: #111111;
    color: #F7F3E8;
    text-decoration: underline;
    transition: 0.3s;
}

.hero-content h1 {
    font-size: 76px;
    font-family: 'Abril FatFace', 'Roboto', sans-serif;
    font-weight: 400;
}

.hero-content h2 {
    font-size: 36px;
    font-weight: 500;
    text-indent: 16px;
}

.hero-content p {
    font-size: 20px;
    font-weight: 300;
}

.hero-image {
    max-width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.hero-image > img {
    max-width: 100%;
    height: auto;
}


/* PAGE 1 */
section.page01 {
    background-color: #111111;
    color: #F7F3E8;
}

div.page01 {
    max-width: 1440px;
    height: 110vh;
    margin: auto;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 60px;
}

.p1content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}

.p1content h2 {
    font-size: 48px;
}

.p1content p {
    font-size: 20px;
    margin-bottom: 12px;
}

.p1image {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p1image > img {
    max-width: 100%;
    height: auto;
}



/* PAGE 2 */
section.page02 {
    max-width: 1600px;
    height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

section.page02 header {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 128px;
}

section.page02 header h2 {
    font-size: 48px;
    font-family: 'Abril FatFace', 'Roboto', sans-serif;
    font-weight: 400;
}

section.page02 header h3 {
    font-size: 36px;
    font-weight: 300;
}

div.p2footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.p2footer a {
    padding: 50px 35px;
    border: 2px solid #111111;
    border-radius: 500px;

    text-align: center;
}

div.p2footer a:hover {
    background-color: #111111;
    color: #F7F3E8;
    text-decoration: underline;
    transition: 0.3s;
}

div.p2footer p {
    font-size: 24px;
}

div.p2image {
    width: 55%;
}

div.p2image > img {
    max-width: 100%;
    height: auto;
}



/* PAGE 3 */
section.page03 {
    max-width: 1600px;
    height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

section.page03 header {
    width: 100%;
    display: flex;
    align-items: start;
}

section.page03 header > h2 {
    font-size: 72px;
}

div.p3content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

section.page03 div.card {
    padding: 20px 20px 30px 20px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    background-color: #111111;
    color: #F7F3E8;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.315);
}

section.page03 div.card-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section.page03 div.card-content  h2 {
    font-size: 36px;
}

section.page03 div.card-content  h3 {
    font-size: 18px;
    font-weight: 400;
}

section.page03 div.card-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

section.page03 div.card a {
    padding: 10px;
    color: #F7F3E8;
    border: 1px solid #F7F3E8;
    border-radius: 50px;
}

section.page03 div.card a:hover {
    background-color: #F7F3E8;
    color: #111111;
    text-decoration: underline;
    transition: 0.3s;
}

div.p3img  img {
    max-width: 100%;
    height: auto;
}



/* PAGE 4 */
section.page04 {
    max-width: 1600px;
    height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

div.p4content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 90px;
}

div.p4content h2 {
    font-size: 60px;
}

div.p4content h3 {
    font-size: 28px;
}

div.p4content div.text-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

div.p4content div.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

div.p4content div.button {
    display: flex;
    flex-direction: row-reverse;
}

div.p4content a {
    padding: 50px 35px;
    border: 2px solid #111111;
    border-radius: 500px;
    
    text-align: center;
}

div.p4content a:hover {
    background-color: #111111;
    color: #F7F3E8;
    text-decoration: underline;
    transition: 0.3s;
}



/* FOOTER */
footer {
    height: 25vh;
    background-color: #111111;
    color: #F7F3E8;
}

footer > section {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 36px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer header {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

div.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 36px;
}

div.socialmedia img {
    width: 48px;
    height: auto;
}

div.subscribe {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

div.subscribe h2 {
    font-size: 28px;
}

div.subscribe p {
    color: #9b9b9b;
    font-size: 12px;
}

div.subscribe form {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3d3d3d;
    border-radius: 5px;
    border: 1px solid #F7F3E8;
}

div.subscribe input[type= email] {
    
    background-color: #3d3d3d;
    color: white;
    border: none;
}

div.subscribe input[type= submit] {
    background-color: #3d3d3d;
    color: #F7F3E8;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

div.contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

div.contact h2 {
    font-size: 28px;
}

div.contact p {
    color: #9b9b9b;
    font-size: 12px;
}

div.contact > div.text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

div.subscribe > div.text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}